body {
    background: linear-gradient(90deg, green, yellow)
}
.header_img {
    height: 300px;
    width: 300px;
    border: 4px solid gray;
    margin: auto;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container h1 {
    color: white;
    font-size: 80px;
}
.games{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.games img{
    border-radius: 10px;
}
.modal-content{
    margin-top: 100px;
}
.modal iframe{
    display: inline-block;
}
.modal a{
    margin-top: 10px;
}